<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>views</key>
	<array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,240}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,240}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,255}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,255}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,480}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,480}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,493}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,493}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,945}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,945}</string>
			</dict>
		</array>
	</array>
	<key>contentSize</key>
	<string>{720,960}</string>
</dict>
</plist>
