<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>views</key>
	<array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{282,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{396,444}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,547}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{295,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,360}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{410,440}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,562}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,376}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,945}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,945}</string>
			</dict>
		</array>
	</array>
	<key>contentSize</key>
	<string>{720,960}</string>
</dict>
</plist>
