<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>views</key>
	<array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,235}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,235}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,250}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,250}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,472}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,472}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,484}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,484}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,708}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,708}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,721}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,721}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,945}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,945}</string>
			</dict>
		</array>
	</array>
	<key>contentSize</key>
	<string>{720,960}</string>
</dict>
</plist>
