<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>views</key>
	<array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{354,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{354,945}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,945}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{366,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,472}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{366,472}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{366,487}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,487}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,945}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{366,945}</string>
			</dict>
		</array>
	</array>
	<key>contentSize</key>
	<string>{720,960}</string>
</dict>
</plist>
