<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>views</key>
	<array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{393,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{393,471}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,471}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{406,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,15}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,471}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{406,471}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{15,486}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{304,486}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{304,945}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{15,945}</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>point</key>
				<string>{318,486}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,486}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{705,945}</string>
			</dict>
			<dict>
				<key>point</key>
				<string>{318,945}</string>
			</dict>
		</array>
	</array>
	<key>contentSize</key>
	<string>{720,960}</string>
</dict>
</plist>
