<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>Normal</string>
		<key>shadowBlur</key>
		<integer>5</integer>
		<key>shadowOffset</key>
		<string>{0,2}</string>
		<key>shadowColor</key>
		<string>0.0,0.0,0.0,0.75</string>
		<key>innerShadowBlur</key>
		<integer>0</integer>
		<key>innerShadowOffset</key>
		<string></string>
		<key>innerShadowColor</key>
		<string></string>
		<key>gradientStartColor</key>
		<string></string>
		<key>gradientEndColor</key>
		<string></string>
		<key>gradientColors</key>
		<array/>
		<key>gradientStartPoint</key>
		<string></string>
		<key>gradientEndPoint</key>
		<string></string>
		<key>oversampling</key>
		<integer>0</integer>
		<key>textInsets</key>
		<string></string>
		<key>lineSpacing</key>
		<integer>0</integer>
		<key>characterSpacing</key>
		<integer>0</integer>
		<key>baselineOffset</key>
		<integer>0</integer>
		<key>allowOrphans</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Sample-1</string>
		<key>shadowBlur</key>
		<integer>1</integer>
		<key>shadowOffset</key>
		<string>{1,1}</string>
		<key>shadowColor</key>
		<string>1.0,1.0,1.0,0.8</string>
		<key>innerShadowBlur</key>
		<integer>2</integer>
		<key>innerShadowOffset</key>
		<string>{1,1}</string>
		<key>innerShadowColor</key>
		<string>0.0,0.0,0.0,0.8</string>
		<key>gradientStartColor</key>
		<string></string>
		<key>gradientEndColor</key>
		<string></string>
		<key>gradientColors</key>
		<array/>
		<key>gradientStartPoint</key>
		<string></string>
		<key>gradientEndPoint</key>
		<string></string>
		<key>oversampling</key>
		<integer>0</integer>
		<key>textInsets</key>
		<string></string>
		<key>lineSpacing</key>
		<integer>0</integer>
		<key>characterSpacing</key>
		<integer>0</integer>
		<key>baselineOffset</key>
		<integer>0</integer>
		<key>allowOrphans</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Sample-2</string>
		<key>shadowBlur</key>
		<integer>0</integer>
		<key>shadowOffset</key>
		<string></string>
		<key>shadowColor</key>
		<string></string>
		<key>innerShadowBlur</key>
		<integer>0</integer>
		<key>innerShadowOffset</key>
		<string></string>
		<key>innerShadowColor</key>
		<string></string>
		<key>gradientStartColor</key>
		<string>1.0,0.0,0.0,1.0</string>
		<key>gradientEndColor</key>
		<string>0.0,0.0,0.0,1.0</string>
		<key>gradientColors</key>
		<array/>
		<key>gradientStartPoint</key>
		<string></string>
		<key>gradientEndPoint</key>
		<string></string>
		<key>oversampling</key>
		<integer>0</integer>
		<key>textInsets</key>
		<string></string>
		<key>lineSpacing</key>
		<integer>0</integer>
		<key>characterSpacing</key>
		<integer>0</integer>
		<key>baselineOffset</key>
		<integer>0</integer>
		<key>allowOrphans</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Sample-3</string>
		<key>shadowBlur</key>
		<integer>0</integer>
		<key>shadowOffset</key>
		<string></string>
		<key>shadowColor</key>
		<string></string>
		<key>innerShadowBlur</key>
		<integer>0</integer>
		<key>innerShadowOffset</key>
		<string></string>
		<key>innerShadowColor</key>
		<string></string>
		<key>gradientStartColor</key>
		<string></string>
		<key>gradientEndColor</key>
		<string></string>
		<key>gradientColors</key>
		<array>
			<string>1.0,0.0,0.0,1.0</string>
			<string>1.0,1.0,0.0,1.0</string>
			<string>0.0,1.0,0.0,1.0</string>
			<string>0.0,1.0,1.0,1.0</string>
			<string>0.0,0.0,1.0,1.0</string>
			<string>0.5,0.0,0.5,1.0</string>
			<string>1.0,0.0,0.0,1.0</string>
		</array>
		<key>gradientStartPoint</key>
		<string>{0,0}</string>
		<key>gradientEndPoint</key>
		<string>{1,1}</string>
		<key>oversampling</key>
		<integer>0</integer>
		<key>textInsets</key>
		<string></string>
		<key>lineSpacing</key>
		<integer>0</integer>
		<key>characterSpacing</key>
		<integer>0</integer>
		<key>baselineOffset</key>
		<integer>0</integer>
		<key>allowOrphans</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>Sample-4</string>
		<key>shadowBlur</key>
		<integer>20</integer>
		<key>shadowOffset</key>
		<string></string>
		<key>shadowColor</key>
		<string></string>
		<key>innerShadowBlur</key>
		<integer>2</integer>
		<key>innerShadowOffset</key>
		<string>{1,1}</string>
		<key>innerShadowColor</key>
		<string>1.0,1.0,0.0,1.0</string>
		<key>gradientStartColor</key>
		<string>1.0,0.0,0.0,1.0</string>
		<key>gradientEndColor</key>
		<string>1.0,1.0,0.0,1.0</string>
		<key>gradientColors</key>
		<array/>
		<key>gradientStartPoint</key>
		<string>{0,0.5}</string>
		<key>gradientEndPoint</key>
		<string>{1,0.5}</string>
		<key>oversampling</key>
		<integer>2</integer>
		<key>textInsets</key>
		<string></string>
		<key>lineSpacing</key>
		<integer>0</integer>
		<key>characterSpacing</key>
		<integer>0</integer>
		<key>baselineOffset</key>
		<integer>0</integer>
		<key>allowOrphans</key>
		<false/>
	</dict>
</array>
</plist>
