<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover</key>
		<string>04_1</string>
		<key>purchase</key>
		<false/>
		<key>files</key>
		<array>
			<string>A_Marks_1.png</string>
			<string>A_Marks_2.png</string>
			<string>A_Marks_3.png</string>
			<string>A_Marks_4.png</string>
			<string>A_Marks_5.png</string>
			<string>A_Marks_6.png</string>
			<string>A_Marks_7.png</string>
			<string>A_Marks_8.png</string>
			<string>A_Marks_9.png</string>
			<string>A_Marks_10.png</string>
			<string>A_Marks_11.png</string>
			<string>A_Marks_12.png</string>
			<string>A_Marks_13.png</string>
			<string>A_Marks_14.png</string>
			<string>A_Marks_15.png</string>
			<string>A_Marks_16.png</string>
			<string>A_Marks_17.png</string>
			<string>A_Marks_18.png</string>
			<string>A_Marks_19.png</string>
			<string>A_Marks_20.png</string>
			<string>A_Marks_21.png</string>
			<string>A_Marks_22.png</string>
			<string>A_Marks_23.png</string>
			<string>A_Marks_24.png</string>
			<string>A_Marks_25.png</string>
			<string>A_Marks_26.png</string>
			<string>A_Marks_27.png</string>
			<string>A_Marks_28.png</string>
			<string>A_Marks_29.png</string>
			<string>A_Marks_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.10</string>
		<key>cover</key>
		<string>04_2</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>B_Marks_1.png</string>
			<string>B_Marks_2.png</string>
			<string>B_Marks_3.png</string>
			<string>B_Marks_4.png</string>
			<string>B_Marks_5.png</string>
			<string>B_Marks_6.png</string>
			<string>B_Marks_7.png</string>
			<string>B_Marks_8.png</string>
			<string>B_Marks_9.png</string>
			<string>B_Marks_10.png</string>
			<string>B_Marks_11.png</string>
			<string>B_Marks_12.png</string>
			<string>B_Marks_13.png</string>
			<string>B_Marks_14.png</string>
			<string>B_Marks_15.png</string>
			<string>B_Marks_16.png</string>
			<string>B_Marks_17.png</string>
			<string>B_Marks_18.png</string>
			<string>B_Marks_19.png</string>
			<string>B_Marks_20.png</string>
			<string>B_Marks_21.png</string>
			<string>B_Marks_22.png</string>
			<string>B_Marks_23.png</string>
			<string>B_Marks_24.png</string>
			<string>B_Marks_25.png</string>
			<string>B_Marks_26.png</string>
			<string>B_Marks_27.png</string>
			<string>B_Marks_28.png</string>
			<string>B_Marks_29.png</string>
			<string>B_Marks_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.11</string>
		<key>cover</key>
		<string>04_3</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>C_Marks_1.png</string>
			<string>C_Marks_2.png</string>
			<string>C_Marks_3.png</string>
			<string>C_Marks_4.png</string>
			<string>C_Marks_5.png</string>
			<string>C_Marks_6.png</string>
			<string>C_Marks_7.png</string>
			<string>C_Marks_8.png</string>
			<string>C_Marks_9.png</string>
			<string>C_Marks_10.png</string>
			<string>C_Marks_11.png</string>
			<string>C_Marks_12.png</string>
			<string>C_Marks_13.png</string>
			<string>C_Marks_14.png</string>
			<string>C_Marks_15.png</string>
			<string>C_Marks_16.png</string>
			<string>C_Marks_17.png</string>
			<string>C_Marks_18.png</string>
			<string>C_Marks_19.png</string>
			<string>C_Marks_20.png</string>
			<string>C_Marks_21.png</string>
			<string>C_Marks_22.png</string>
			<string>C_Marks_23.png</string>
			<string>C_Marks_24.png</string>
			<string>C_Marks_25.png</string>
			<string>C_Marks_26.png</string>
			<string>C_Marks_27.png</string>
			<string>C_Marks_28.png</string>
			<string>C_Marks_29.png</string>
			<string>C_Marks_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.12</string>
		<key>cover</key>
		<string>04_4</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>D_Marks_1.png</string>
			<string>D_Marks_2.png</string>
			<string>D_Marks_3.png</string>
			<string>D_Marks_4.png</string>
			<string>D_Marks_5.png</string>
			<string>D_Marks_6.png</string>
			<string>D_Marks_7.png</string>
			<string>D_Marks_8.png</string>
			<string>D_Marks_9.png</string>
			<string>D_Marks_10.png</string>
			<string>D_Marks_11.png</string>
			<string>D_Marks_12.png</string>
			<string>D_Marks_13.png</string>
			<string>D_Marks_14.png</string>
			<string>D_Marks_15.png</string>
			<string>D_Marks_16.png</string>
			<string>D_Marks_17.png</string>
			<string>D_Marks_18.png</string>
			<string>D_Marks_19.png</string>
			<string>D_Marks_20.png</string>
			<string>D_Marks_21.png</string>
			<string>D_Marks_22.png</string>
			<string>D_Marks_23.png</string>
			<string>D_Marks_24.png</string>
			<string>D_Marks_25.png</string>
			<string>D_Marks_26.png</string>
			<string>D_Marks_27.png</string>
			<string>D_Marks_28.png</string>
			<string>D_Marks_29.png</string>
			<string>D_Marks_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.13</string>
		<key>cover</key>
		<string>04_5</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>E_Marks_1.png</string>
			<string>E_Marks_2.png</string>
			<string>E_Marks_3.png</string>
			<string>E_Marks_4.png</string>
			<string>E_Marks_5.png</string>
			<string>E_Marks_6.png</string>
			<string>E_Marks_7.png</string>
			<string>E_Marks_8.png</string>
			<string>E_Marks_9.png</string>
			<string>E_Marks_10.png</string>
			<string>E_Marks_11.png</string>
			<string>E_Marks_12.png</string>
			<string>E_Marks_13.png</string>
			<string>E_Marks_14.png</string>
			<string>E_Marks_15.png</string>
			<string>E_Marks_16.png</string>
			<string>E_Marks_17.png</string>
			<string>E_Marks_18.png</string>
			<string>E_Marks_19.png</string>
			<string>E_Marks_20.png</string>
			<string>E_Marks_21.png</string>
			<string>E_Marks_22.png</string>
			<string>E_Marks_23.png</string>
			<string>E_Marks_24.png</string>
			<string>E_Marks_25.png</string>
			<string>E_Marks_26.png</string>
			<string>E_Marks_27.png</string>
			<string>E_Marks_28.png</string>
			<string>E_Marks_29.png</string>
			<string>E_Marks_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.14</string>
		<key>cover</key>
		<string>04_6</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>F_Marks_1.png</string>
			<string>F_Marks_2.png</string>
			<string>F_Marks_3.png</string>
			<string>F_Marks_4.png</string>
			<string>F_Marks_5.png</string>
			<string>F_Marks_6.png</string>
			<string>F_Marks_7.png</string>
			<string>F_Marks_8.png</string>
			<string>F_Marks_9.png</string>
			<string>F_Marks_10.png</string>
			<string>F_Marks_11.png</string>
			<string>F_Marks_12.png</string>
			<string>F_Marks_13.png</string>
			<string>F_Marks_14.png</string>
			<string>F_Marks_15.png</string>
			<string>F_Marks_16.png</string>
			<string>F_Marks_17.png</string>
			<string>F_Marks_18.png</string>
			<string>F_Marks_19.png</string>
			<string>F_Marks_20.png</string>
			<string>F_Marks_21.png</string>
			<string>F_Marks_22.png</string>
			<string>F_Marks_23.png</string>
			<string>F_Marks_24.png</string>
			<string>F_Marks_25.png</string>
			<string>F_Marks_26.png</string>
			<string>F_Marks_27.png</string>
			<string>F_Marks_28.png</string>
			<string>F_Marks_29.png</string>
			<string>F_Marks_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.15</string>
		<key>cover</key>
		<string>04_7</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>G_Marks_1.png</string>
			<string>G_Marks_2.png</string>
			<string>G_Marks_3.png</string>
			<string>G_Marks_4.png</string>
			<string>G_Marks_5.png</string>
			<string>G_Marks_6.png</string>
			<string>G_Marks_7.png</string>
			<string>G_Marks_8.png</string>
			<string>G_Marks_9.png</string>
			<string>G_Marks_10.png</string>
			<string>G_Marks_11.png</string>
			<string>G_Marks_12.png</string>
			<string>G_Marks_13.png</string>
			<string>G_Marks_14.png</string>
			<string>G_Marks_15.png</string>
			<string>G_Marks_16.png</string>
			<string>G_Marks_17.png</string>
			<string>G_Marks_18.png</string>
			<string>G_Marks_19.png</string>
			<string>G_Marks_20.png</string>
			<string>G_Marks_21.png</string>
			<string>G_Marks_22.png</string>
			<string>G_Marks_23.png</string>
			<string>G_Marks_24.png</string>
			<string>G_Marks_25.png</string>
			<string>G_Marks_26.png</string>
			<string>G_Marks_27.png</string>
			<string>G_Marks_28.png</string>
			<string>G_Marks_29.png</string>
			<string>G_Marks_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.16</string>
		<key>cover</key>
		<string>04_8</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>H_Marks_1.png</string>
			<string>H_Marks_2.png</string>
			<string>H_Marks_3.png</string>
			<string>H_Marks_4.png</string>
			<string>H_Marks_5.png</string>
			<string>H_Marks_6.png</string>
			<string>H_Marks_7.png</string>
			<string>H_Marks_8.png</string>
			<string>H_Marks_9.png</string>
			<string>H_Marks_10.png</string>
			<string>H_Marks_11.png</string>
			<string>H_Marks_12.png</string>
			<string>H_Marks_13.png</string>
			<string>H_Marks_14.png</string>
			<string>H_Marks_15.png</string>
			<string>H_Marks_16.png</string>
			<string>H_Marks_17.png</string>
			<string>H_Marks_18.png</string>
			<string>H_Marks_19.png</string>
			<string>H_Marks_20.png</string>
			<string>H_Marks_21.png</string>
			<string>H_Marks_22.png</string>
			<string>H_Marks_23.png</string>
			<string>H_Marks_24.png</string>
			<string>H_Marks_25.png</string>
			<string>H_Marks_26.png</string>
			<string>H_Marks_27.png</string>
			<string>H_Marks_28.png</string>
			<string>H_Marks_29.png</string>
			<string>H_Marks_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.17</string>
		<key>cover</key>
		<string>04_9</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>I_Marks_1.png</string>
			<string>I_Marks_2.png</string>
			<string>I_Marks_3.png</string>
			<string>I_Marks_4.png</string>
			<string>I_Marks_5.png</string>
			<string>I_Marks_6.png</string>
			<string>I_Marks_7.png</string>
			<string>I_Marks_8.png</string>
			<string>I_Marks_9.png</string>
			<string>I_Marks_10.png</string>
			<string>I_Marks_11.png</string>
			<string>I_Marks_12.png</string>
			<string>I_Marks_13.png</string>
			<string>I_Marks_14.png</string>
			<string>I_Marks_15.png</string>
			<string>I_Marks_16.png</string>
			<string>I_Marks_17.png</string>
			<string>I_Marks_18.png</string>
			<string>I_Marks_19.png</string>
			<string>I_Marks_20.png</string>
			<string>I_Marks_21.png</string>
			<string>I_Marks_22.png</string>
			<string>I_Marks_23.png</string>
			<string>I_Marks_24.png</string>
			<string>I_Marks_25.png</string>
			<string>I_Marks_26.png</string>
			<string>I_Marks_27.png</string>
			<string>I_Marks_28.png</string>
			<string>I_Marks_29.png</string>
			<string>I_Marks_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.18</string>
		<key>cover</key>
		<string>04_10</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>J_Marks_1.png</string>
			<string>J_Marks_2.png</string>
			<string>J_Marks_3.png</string>
			<string>J_Marks_4.png</string>
			<string>J_Marks_5.png</string>
			<string>J_Marks_6.png</string>
			<string>J_Marks_7.png</string>
			<string>J_Marks_8.png</string>
			<string>J_Marks_9.png</string>
			<string>J_Marks_10.png</string>
			<string>J_Marks_11.png</string>
			<string>J_Marks_12.png</string>
			<string>J_Marks_13.png</string>
			<string>J_Marks_14.png</string>
			<string>J_Marks_15.png</string>
			<string>J_Marks_16.png</string>
			<string>J_Marks_17.png</string>
			<string>J_Marks_18.png</string>
			<string>J_Marks_19.png</string>
			<string>J_Marks_20.png</string>
			<string>J_Marks_21.png</string>
			<string>J_Marks_22.png</string>
			<string>J_Marks_23.png</string>
			<string>J_Marks_24.png</string>
			<string>J_Marks_25.png</string>
			<string>J_Marks_26.png</string>
			<string>J_Marks_27.png</string>
			<string>J_Marks_28.png</string>
			<string>J_Marks_29.png</string>
			<string>J_Marks_30.png</string>
		</array>
	</dict>
</array>
</plist>
