<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover</key>
		<string>03_1</string>
		<key>purchase</key>
		<false/>
		<key>files</key>
		<array>
			<string>A_Sticker_1.png</string>
			<string>A_Sticker_2.png</string>
			<string>A_Sticker_3.png</string>
			<string>A_Sticker_4.png</string>
			<string>A_Sticker_5.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.1</string>
		<key>cover</key>
		<string>03_2</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>B_Sticker_1.png</string>
			<string>B_Sticker_2.png</string>
			<string>B_Sticker_3.png</string>
			<string>B_Sticker_4.png</string>
			<string>B_Sticker_5.png</string>
			<string>B_Sticker_6.png</string>
			<string>B_Sticker_7.png</string>
			<string>B_Sticker_8.png</string>
			<string>B_Sticker_9.png</string>
			<string>B_Sticker_10.png</string>
			<string>B_Sticker_11.png</string>
			<string>B_Sticker_12.png</string>
			<string>B_Sticker_13.png</string>
			<string>B_Sticker_14.png</string>
			<string>B_Sticker_15.png</string>
			<string>B_Sticker_16.png</string>
			<string>B_Sticker_17.png</string>
			<string>B_Sticker_18.png</string>
			<string>B_Sticker_19.png</string>
			<string>B_Sticker_20.png</string>
			<string>B_Sticker_21.png</string>
			<string>B_Sticker_22.png</string>
			<string>B_Sticker_23.png</string>
			<string>B_Sticker_24.png</string>
			<string>B_Sticker_25.png</string>
			<string>B_Sticker_26.png</string>
			<string>B_Sticker_27.png</string>
			<string>B_Sticker_28.png</string>
			<string>B_Sticker_29.png</string>
			<string>B_Sticker_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.2</string>
		<key>cover</key>
		<string>03_3</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>C_Sticker_1.png</string>
			<string>C_Sticker_2.png</string>
			<string>C_Sticker_3.png</string>
			<string>C_Sticker_4.png</string>
			<string>C_Sticker_5.png</string>
			<string>C_Sticker_6.png</string>
			<string>C_Sticker_7.png</string>
			<string>C_Sticker_8.png</string>
			<string>C_Sticker_9.png</string>
			<string>C_Sticker_10.png</string>
			<string>C_Sticker_11.png</string>
			<string>C_Sticker_12.png</string>
			<string>C_Sticker_13.png</string>
			<string>C_Sticker_14.png</string>
			<string>C_Sticker_15.png</string>
			<string>C_Sticker_16.png</string>
			<string>C_Sticker_17.png</string>
			<string>C_Sticker_18.png</string>
			<string>C_Sticker_19.png</string>
			<string>C_Sticker_20.png</string>
			<string>C_Sticker_21.png</string>
			<string>C_Sticker_22.png</string>
			<string>C_Sticker_23.png</string>
			<string>C_Sticker_24.png</string>
			<string>C_Sticker_25.png</string>
			<string>C_Sticker_26.png</string>
			<string>C_Sticker_27.png</string>
			<string>C_Sticker_28.png</string>
			<string>C_Sticker_29.png</string>
			<string>C_Sticker_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.3</string>
		<key>cover</key>
		<string>03_4</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>D_Sticker_1.png</string>
			<string>D_Sticker_2.png</string>
			<string>D_Sticker_3.png</string>
			<string>D_Sticker_4.png</string>
			<string>D_Sticker_5.png</string>
			<string>D_Sticker_6.png</string>
			<string>D_Sticker_7.png</string>
			<string>D_Sticker_8.png</string>
			<string>D_Sticker_9.png</string>
			<string>D_Sticker_10.png</string>
			<string>D_Sticker_11.png</string>
			<string>D_Sticker_12.png</string>
			<string>D_Sticker_13.png</string>
			<string>D_Sticker_14.png</string>
			<string>D_Sticker_15.png</string>
			<string>D_Sticker_16.png</string>
			<string>D_Sticker_17.png</string>
			<string>D_Sticker_18.png</string>
			<string>D_Sticker_19.png</string>
			<string>D_Sticker_20.png</string>
			<string>D_Sticker_21.png</string>
			<string>D_Sticker_22.png</string>
			<string>D_Sticker_23.png</string>
			<string>D_Sticker_24.png</string>
			<string>D_Sticker_25.png</string>
			<string>D_Sticker_26.png</string>
			<string>D_Sticker_27.png</string>
			<string>D_Sticker_28.png</string>
			<string>D_Sticker_29.png</string>
			<string>D_Sticker_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.4</string>
		<key>cover</key>
		<string>03_5</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>E_Sticker_1.png</string>
			<string>E_Sticker_2.png</string>
			<string>E_Sticker_3.png</string>
			<string>E_Sticker_4.png</string>
			<string>E_Sticker_5.png</string>
			<string>E_Sticker_6.png</string>
			<string>E_Sticker_7.png</string>
			<string>E_Sticker_8.png</string>
			<string>E_Sticker_9.png</string>
			<string>E_Sticker_10.png</string>
			<string>E_Sticker_11.png</string>
			<string>E_Sticker_12.png</string>
			<string>E_Sticker_13.png</string>
			<string>E_Sticker_14.png</string>
			<string>E_Sticker_15.png</string>
			<string>E_Sticker_16.png</string>
			<string>E_Sticker_17.png</string>
			<string>E_Sticker_18.png</string>
			<string>E_Sticker_19.png</string>
			<string>E_Sticker_20.png</string>
			<string>E_Sticker_21.png</string>
			<string>E_Sticker_22.png</string>
			<string>E_Sticker_23.png</string>
			<string>E_Sticker_24.png</string>
			<string>E_Sticker_25.png</string>
			<string>E_Sticker_26.png</string>
			<string>E_Sticker_27.png</string>
			<string>E_Sticker_28.png</string>
			<string>E_Sticker_29.png</string>
			<string>E_Sticker_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.5</string>
		<key>cover</key>
		<string>03_6</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>F_Sticker_1.png</string>
			<string>F_Sticker_2.png</string>
			<string>F_Sticker_3.png</string>
			<string>F_Sticker_4.png</string>
			<string>F_Sticker_5.png</string>
			<string>F_Sticker_6.png</string>
			<string>F_Sticker_7.png</string>
			<string>F_Sticker_8.png</string>
			<string>F_Sticker_9.png</string>
			<string>F_Sticker_10.png</string>
			<string>F_Sticker_11.png</string>
			<string>F_Sticker_12.png</string>
			<string>F_Sticker_13.png</string>
			<string>F_Sticker_14.png</string>
			<string>F_Sticker_15.png</string>
			<string>F_Sticker_16.png</string>
			<string>F_Sticker_17.png</string>
			<string>F_Sticker_18.png</string>
			<string>F_Sticker_19.png</string>
			<string>F_Sticker_20.png</string>
			<string>F_Sticker_21.png</string>
			<string>F_Sticker_22.png</string>
			<string>F_Sticker_23.png</string>
			<string>F_Sticker_24.png</string>
			<string>F_Sticker_25.png</string>
			<string>F_Sticker_26.png</string>
			<string>F_Sticker_27.png</string>
			<string>F_Sticker_28.png</string>
			<string>F_Sticker_29.png</string>
			<string>F_Sticker_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.6</string>
		<key>cover</key>
		<string>03_7</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>G_Sticker_1.png</string>
			<string>G_Sticker_2.png</string>
			<string>G_Sticker_3.png</string>
			<string>G_Sticker_4.png</string>
			<string>G_Sticker_5.png</string>
			<string>G_Sticker_6.png</string>
			<string>G_Sticker_7.png</string>
			<string>G_Sticker_8.png</string>
			<string>G_Sticker_9.png</string>
			<string>G_Sticker_10.png</string>
			<string>G_Sticker_11.png</string>
			<string>G_Sticker_12.png</string>
			<string>G_Sticker_13.png</string>
			<string>G_Sticker_14.png</string>
			<string>G_Sticker_15.png</string>
			<string>G_Sticker_16.png</string>
			<string>G_Sticker_17.png</string>
			<string>G_Sticker_18.png</string>
			<string>G_Sticker_19.png</string>
			<string>G_Sticker_20.png</string>
			<string>G_Sticker_21.png</string>
			<string>G_Sticker_22.png</string>
			<string>G_Sticker_23.png</string>
			<string>G_Sticker_24.png</string>
			<string>G_Sticker_25.png</string>
			<string>G_Sticker_26.png</string>
			<string>G_Sticker_27.png</string>
			<string>G_Sticker_28.png</string>
			<string>G_Sticker_29.png</string>
			<string>G_Sticker_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.7</string>
		<key>cover</key>
		<string>03_8</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>H_Sticker_1.png</string>
			<string>H_Sticker_2.png</string>
			<string>H_Sticker_3.png</string>
			<string>H_Sticker_4.png</string>
			<string>H_Sticker_5.png</string>
			<string>H_Sticker_6.png</string>
			<string>H_Sticker_7.png</string>
			<string>H_Sticker_8.png</string>
			<string>H_Sticker_9.png</string>
			<string>H_Sticker_10.png</string>
			<string>H_Sticker_11.png</string>
			<string>H_Sticker_12.png</string>
			<string>H_Sticker_13.png</string>
			<string>H_Sticker_14.png</string>
			<string>H_Sticker_15.png</string>
			<string>H_Sticker_16.png</string>
			<string>H_Sticker_17.png</string>
			<string>H_Sticker_18.png</string>
			<string>H_Sticker_19.png</string>
			<string>H_Sticker_20.png</string>
			<string>H_Sticker_21.png</string>
			<string>H_Sticker_22.png</string>
			<string>H_Sticker_23.png</string>
			<string>H_Sticker_24.png</string>
			<string>H_Sticker_25.png</string>
			<string>H_Sticker_26.png</string>
			<string>H_Sticker_27.png</string>
			<string>H_Sticker_28.png</string>
			<string>H_Sticker_29.png</string>
			<string>H_Sticker_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.8</string>
		<key>cover</key>
		<string>03_9</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>I_Sticker_1.png</string>
			<string>I_Sticker_2.png</string>
			<string>I_Sticker_3.png</string>
			<string>I_Sticker_4.png</string>
			<string>I_Sticker_5.png</string>
			<string>I_Sticker_6.png</string>
			<string>I_Sticker_7.png</string>
			<string>I_Sticker_8.png</string>
			<string>I_Sticker_9.png</string>
			<string>I_Sticker_10.png</string>
			<string>I_Sticker_11.png</string>
			<string>I_Sticker_12.png</string>
			<string>I_Sticker_13.png</string>
			<string>I_Sticker_14.png</string>
			<string>I_Sticker_15.png</string>
			<string>I_Sticker_16.png</string>
			<string>I_Sticker_17.png</string>
			<string>I_Sticker_18.png</string>
			<string>I_Sticker_19.png</string>
			<string>I_Sticker_20.png</string>
			<string>I_Sticker_21.png</string>
			<string>I_Sticker_22.png</string>
			<string>I_Sticker_23.png</string>
			<string>I_Sticker_24.png</string>
			<string>I_Sticker_25.png</string>
			<string>I_Sticker_26.png</string>
			<string>I_Sticker_27.png</string>
			<string>I_Sticker_28.png</string>
			<string>I_Sticker_29.png</string>
			<string>I_Sticker_30.png</string>
		</array>
	</dict>
	<dict>
		<key>iap_identifier</key>
		<string>com.easy.EMAC127.9</string>
		<key>cover</key>
		<string>03_10</string>
		<key>purchase</key>
		<true/>
		<key>files</key>
		<array>
			<string>J_Sticker_1.png</string>
			<string>J_Sticker_2.png</string>
			<string>J_Sticker_3.png</string>
			<string>J_Sticker_4.png</string>
			<string>J_Sticker_5.png</string>
			<string>J_Sticker_6.png</string>
			<string>J_Sticker_7.png</string>
			<string>J_Sticker_8.png</string>
			<string>J_Sticker_9.png</string>
			<string>J_Sticker_10.png</string>
			<string>J_Sticker_11.png</string>
			<string>J_Sticker_12.png</string>
			<string>J_Sticker_13.png</string>
			<string>J_Sticker_14.png</string>
			<string>J_Sticker_15.png</string>
			<string>J_Sticker_16.png</string>
			<string>J_Sticker_17.png</string>
			<string>J_Sticker_18.png</string>
			<string>J_Sticker_19.png</string>
			<string>J_Sticker_20.png</string>
			<string>J_Sticker_21.png</string>
			<string>J_Sticker_22.png</string>
			<string>J_Sticker_23.png</string>
			<string>J_Sticker_24.png</string>
			<string>J_Sticker_25.png</string>
			<string>J_Sticker_26.png</string>
			<string>J_Sticker_27.png</string>
			<string>J_Sticker_28.png</string>
			<string>J_Sticker_29.png</string>
			<string>J_Sticker_30.png</string>
		</array>
	</dict>
</array>
</plist>
