<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cut</key>
		<array>
			<dict>
				<key>effect</key>
				<string></string>
				<key>picture</key>
				<string>item1</string>
				<key>productCode</key>
				<string></string>
				<key>isPurchase</key>
				<true/>
				<key>isAdAward</key>
				<false/>
				<key>name</key>
				<string>LUMEN</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>effect</key>
				<string></string>
				<key>picture</key>
				<string>item1</string>
				<key>productCode</key>
				<string></string>
				<key>isPurchase</key>
				<true/>
				<key>isAdAward</key>
				<false/>
				<key>name</key>
				<string>LUMEN</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>effect</key>
				<string></string>
				<key>picture</key>
				<string>item1</string>
				<key>productCode</key>
				<string></string>
				<key>isPurchase</key>
				<true/>
				<key>isAdAward</key>
				<false/>
				<key>name</key>
				<string>LUMEN</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>effect</key>
				<string></string>
				<key>picture</key>
				<string>item1</string>
				<key>productCode</key>
				<string></string>
				<key>isPurchase</key>
				<true/>
				<key>isAdAward</key>
				<false/>
				<key>name</key>
				<string>LUMEN</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>effect</key>
				<string></string>
				<key>picture</key>
				<string>item1</string>
				<key>productCode</key>
				<string></string>
				<key>isPurchase</key>
				<true/>
				<key>isAdAward</key>
				<false/>
				<key>name</key>
				<string>LUMEN</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>effect</key>
				<string></string>
				<key>picture</key>
				<string>item1</string>
				<key>productCode</key>
				<string></string>
				<key>isPurchase</key>
				<true/>
				<key>isAdAward</key>
				<false/>
				<key>name</key>
				<string>LUMEN</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
		</array>
		<key>type</key>
		<string>cut</string>
		<key>icon</key>
		<string>kk_cut</string>
	</dict>
	<dict>
		<key>effect</key>
		<array>
			<dict>
				<key>effects</key>
				<array>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string>B_1_1.png</string>
						<key>halo</key>
						<string>H_1_1.jpg</string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>255,0,0,1</string>
						<key>color_selected</key>
						<string>0,255,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
					<dict>
						<key>lut</key>
						<string>L_1_2.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string>B_1_1.png</string>
						<key>halo</key>
						<string>H_1_1.jpg</string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string>com.appstudio.X2.1</string>
						<key>isPurchase</key>
						<false/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>255,0,0,1</string>
						<key>color_selected</key>
						<string>0,255,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
					<dict>
						<key>lut</key>
						<string>L_1_3.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string>B_1_1.png</string>
						<key>halo</key>
						<string>H_1_1.jpg</string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string>com.appstudio.X2.2</string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>255,0,0,1</string>
						<key>color_selected</key>
						<string>0,255,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
					<dict>
						<key>lut</key>
						<string>L_1_4.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string>B_1_1.png</string>
						<key>halo</key>
						<string>H_1_1.jpg</string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>255,0,0,1</string>
						<key>color_selected</key>
						<string>0,255,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
					<dict>
						<key>lut</key>
						<string>L_1_5.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string>B_1_1.png</string>
						<key>halo</key>
						<string>H_1_1.jpg</string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>255,0,0,1</string>
						<key>color_selected</key>
						<string>0,255,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
				</array>
				<key>title</key>
				<string>FAVORITES</string>
			</dict>
			<dict>
				<key>effects</key>
				<array>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_2.acv</string>
						<key>bonder</key>
						<string>B_1_2.png</string>
						<key>halo</key>
						<string>H_1_2.jpg</string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>255,0,0,1</string>
						<key>color_selected</key>
						<string>0,0,255,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string>B_1_1.png</string>
						<key>halo</key>
						<string>H_1_1.jpg</string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>255,0,0,1</string>
						<key>color_selected</key>
						<string>0,255,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string>B_1_1.png</string>
						<key>halo</key>
						<string>H_1_1.jpg</string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>255,0,0,1</string>
						<key>color_selected</key>
						<string>0,255,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string>B_1_1.png</string>
						<key>halo</key>
						<string>H_1_1.jpg</string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>255,0,0,1</string>
						<key>color_selected</key>
						<string>0,255,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string>B_1_1.png</string>
						<key>halo</key>
						<string>H_1_1.jpg</string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>255,0,0,1</string>
						<key>color_selected</key>
						<string>0,255,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
				</array>
				<key>title</key>
				<string>ORIGINAL</string>
			</dict>
		</array>
		<key>type</key>
		<string>effect</string>
		<key>icon</key>
		<string>kk_film</string>
	</dict>
	<dict>
		<key>effect</key>
		<array>
			<dict>
				<key>effects</key>
				<array>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string></string>
						<key>halo</key>
						<string></string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>0,0,0,1</string>
						<key>color_selected</key>
						<string>0,0,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
				</array>
				<key>title</key>
				<string>ORIGINAL</string>
			</dict>
			<dict>
				<key>effects</key>
				<array>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string></string>
						<key>halo</key>
						<string></string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>0,0,0,1</string>
						<key>color_selected</key>
						<string>0,0,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
				</array>
				<key>title</key>
				<string>FAVORITES</string>
			</dict>
		</array>
		<key>type</key>
		<string>effect</string>
		<key>icon</key>
		<string>kk_filter</string>
	</dict>
	<dict>
		<key>effect</key>
		<array>
			<dict>
				<key>effects</key>
				<array>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_5.acv</string>
						<key>bonder</key>
						<string></string>
						<key>halo</key>
						<string></string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>0,0,0,1</string>
						<key>color_selected</key>
						<string>0,0,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
				</array>
				<key>title</key>
				<string>FAVORITES</string>
			</dict>
			<dict>
				<key>effects</key>
				<array>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string></string>
						<key>halo</key>
						<string></string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>0,0,0,1</string>
						<key>color_selected</key>
						<string>0,0,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
				</array>
				<key>title</key>
				<string>ORIGINAL</string>
			</dict>
		</array>
		<key>type</key>
		<string>effect</string>
		<key>icon</key>
		<string>kk_light</string>
	</dict>
	<dict>
		<key>edit</key>
		<array>
			<dict>
				<key>isPurchase</key>
				<true/>
				<key>productCode</key>
				<string></string>
				<key>name</key>
				<string>SHARPNESS</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>isPurchase</key>
				<true/>
				<key>productCode</key>
				<string></string>
				<key>name</key>
				<string>COLOR</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>isPurchase</key>
				<true/>
				<key>productCode</key>
				<string></string>
				<key>name</key>
				<string>EXPOSURE</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>isPurchase</key>
				<true/>
				<key>productCode</key>
				<string></string>
				<key>name</key>
				<string>CONTRAST</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>isPurchase</key>
				<true/>
				<key>productCode</key>
				<string></string>
				<key>name</key>
				<string>SATURATION</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>isPurchase</key>
				<true/>
				<key>productCode</key>
				<string></string>
				<key>name</key>
				<string>BRIGHTNESS</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>isPurchase</key>
				<true/>
				<key>productCode</key>
				<string></string>
				<key>name</key>
				<string>SHADOW</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
			<dict>
				<key>isPurchase</key>
				<true/>
				<key>productCode</key>
				<string></string>
				<key>name</key>
				<string>VIGNETTE</string>
				<key>icon</key>
				<string>effect1</string>
				<key>iconSelected</key>
				<string>effect1</string>
				<key>color</key>
				<string>0,0,0,1</string>
				<key>color_selected</key>
				<string>0,0,0,1</string>
				<key>fontColor</key>
				<string>255,255,255,1</string>
				<key>fontColorSelected</key>
				<string>255,255,255,1</string>
			</dict>
		</array>
		<key>type</key>
		<string>edit</string>
		<key>icon</key>
		<string>kk_edit</string>
	</dict>
	<dict>
		<key>effect</key>
		<array>
			<dict>
				<key>effects</key>
				<array>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string></string>
						<key>halo</key>
						<string></string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>0,0,0,1</string>
						<key>color_selected</key>
						<string>0,0,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
				</array>
				<key>title</key>
				<string>ORIGINAL</string>
			</dict>
			<dict>
				<key>effects</key>
				<array>
					<dict>
						<key>lut</key>
						<string>L_1_1.png</string>
						<key>filter</key>
						<string>F_1_1.acv</string>
						<key>bonder</key>
						<string></string>
						<key>halo</key>
						<string></string>
						<key>FontProperty</key>
						<dict>
							<key>position</key>
							<string>{70,120}</string>
							<key>distance</key>
							<string>3</string>
							<key>fontName</key>
							<string>CapsuleXProMediumUC</string>
							<key>fontSize</key>
							<string>50</string>
							<key>fontColor</key>
							<string>255,255,255,1</string>
							<key>shadowOffset</key>
							<string>{2.0,2.0}</string>
							<key>shadowColor</key>
							<string>255,255,255,1</string>
							<key>shadowRadius</key>
							<string>2</string>
							<key>shadowOpacity</key>
							<string>0</string>
							<key>strokeWidth</key>
							<string>1.0</string>
							<key>strokeColor</key>
							<string>255,255,255,1</string>
						</dict>
						<key>value</key>
						<string>50</string>
						<key>picture</key>
						<string>item1</string>
						<key>productCode</key>
						<string></string>
						<key>isPurchase</key>
						<true/>
						<key>isAdAward</key>
						<false/>
						<key>name</key>
						<string>LUMEN</string>
						<key>icon</key>
						<string>effect1</string>
						<key>iconSelected</key>
						<string>effect1</string>
						<key>color</key>
						<string>0,0,0,1</string>
						<key>color_selected</key>
						<string>0,0,0,1</string>
						<key>fontColor</key>
						<string>255,255,255,1</string>
						<key>fontColorSelected</key>
						<string>255,255,255,1</string>
					</dict>
				</array>
				<key>title</key>
				<string>FAVORITES</string>
			</dict>
		</array>
		<key>type</key>
		<string>effect</string>
		<key>icon</key>
		<string>kk_texture</string>
	</dict>
</array>
</plist>
