<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>com.appstudio.X2.1</string>
		<key>picture</key>
		<string>item1</string>
		<key>type</key>
		<string>subscriber</string>
	</dict>
	<dict>
		<key>content</key>
		<string>com.appstudio.X2.ad</string>
		<key>picture</key>
		<string>item2</string>
		<key>type</key>
		<string>purchase</string>
	</dict>
	<dict>
		<key>content</key>
		<string>com.appstudio.X2.1</string>
		<key>picture</key>
		<string>item3</string>
		<key>type</key>
		<string>purchase</string>
	</dict>
	<dict>
		<key>content</key>
		<string>https://apps.apple.com/cn/app/id953286746</string>
		<key>picture</key>
		<string>item4</string>
		<key>type</key>
		<string>recommend</string>
	</dict>
	<dict>
		<key>content</key>
		<string>com.appstudio.X2.3</string>
		<key>picture</key>
		<string>item1</string>
		<key>type</key>
		<string>purchase</string>
	</dict>
	<dict>
		<key>content</key>
		<string>com.appstudio.X2.4</string>
		<key>picture</key>
		<string>item2</string>
		<key>type</key>
		<string>purchase</string>
	</dict>
	<dict>
		<key>content</key>
		<string>com.appstudio.X2.5</string>
		<key>picture</key>
		<string>item1</string>
		<key>type</key>
		<string>purchase</string>
	</dict>
	<dict>
		<key>content</key>
		<string>com.appstudio.X2.6</string>
		<key>picture</key>
		<string>item3</string>
		<key>type</key>
		<string>purchase</string>
	</dict>
</array>
</plist>
